.button {
    border: none;
    border-radius: 10px;
    background-color: #006769;
    color: white;
}

.signin {
    color: black;
    text-decoration: none;
}

.signup {
    color: white;
    text-decoration: none;
}

